<div
  *ngIf="showModal"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
>
  <div class="bg-white rounded-lg shadow-lg dark:bg-gray-800 p-6 max-w-sm">
    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
      Confirm Delete
    </h3>
    <p class="mt-2 text-gray-600 dark:text-gray-400">
      Are you sure you want to delete this room?
    </p>

    <div class="mt-4 flex justify-end space-x-2">
      <button
        (click)="confirmDelete()"
        class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700"
      >
        Delete
      </button>
      <button
        (click)="cancelDelete()"
        class="px-4 py-2 bg-gray-300 text-black rounded-md hover:bg-gray-400"
      >
        Cancel
      </button>
    </div>
  </div>
</div>

<div class="mx-auto max-w-sm">
  <div class="grid grid-col-2 gap-4 rounded-md">
    <div
      class="relative items-center justify-center max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-center"
      *ngFor="let room of room"
    >
      <a href="#">
        <img class="rounded-t-lg" src="/public/favicon.ico" alt="" />
      </a>
      <div class="p-5">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ room.name }}
        </h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Type: {{ room.type }}
        </p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Price: {{ room.price }}
        </p>
        <div class="grid md:grid-cols-2 md:gap-6">
          <button
            class="relative h-full z-0 w-full mb-5 text-white group bg-gray-500 flex items-center justify-center rounded-lg"
            routerLink="/admin/room/{{ room.id }}/edit"
          >
            Edit
          </button>

          <button
            class="relative flex h-full z-0 w-full mb-5 text-white group bg-red-600 items-center justify-center rounded-lg"
            (click)="showConfirm(room.id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pagination -->
<div class="relative items-center justify-center min-h-screen">
  <div class="p-6 bg-white shadow-lg rounded-lg">
    <nav aria-label="Page navigation example" class="flex justify-center">
      <ul class="inline-flex -space-x-px text-sm">
        <li>
          <a
            class="flex items-center justify-center px-4 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            (click)="pageIndexChange(currentPage - 1)"
            [class.disabled]="currentPage === 1"
            [class.cursor-not-allowed]="currentPage === 1"
          >
            Previous
          </a>
        </li>

        <li *ngFor="let page of [].constructor(totalPage); let i = index">
          <a
            class="flex items-center justify-center px-4 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            (click)="pageIndexChange(i + 1)"
            [class.bg-gray-200]="currentPage === i + 1"
            [class.text-gray-700]="currentPage === i + 1"
          >
            {{ i + 1 }}
          </a>
        </li>

        <li>
          <a
            class="flex items-center justify-center px-4 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            (click)="pageIndexChange(currentPage + 1)"
            [class.disabled]="currentPage === totalPage"
            [class.cursor-not-allowed]="currentPage === totalPage"
          >
            Next
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
