<div
  *ngIf="room.length === 0"
  class="flex items-center justify-center min-h-screen"
>
  <!-- Kiểm tra nếu room rỗng -->
  <div>
    <p>No rooms available.</p>
    <!-- Thông báo nếu không có phòng -->
  </div>
</div>

<div class="mx-auto max-w-sm" *ngIf="room.length > 0">
  <!-- Rooms Display -->
  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-center"
    *ngFor="let room of room"
  >
    <div class="p-5">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{ room.name }}
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Type: {{ room.type }}
      </p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Price: {{ room.price }}
      </p>
    </div>
    <div class="text-center">
      <button
        class="bg-green-400 relative z-0 w-[50%] mb-5 group rounded-lg"
        (click)="openModal(room.id)"
      >
        <p>Booking</p>
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  [ngClass]="{ hidden: !showModal }"
  id="popup-modal"
  tabindex="-1"
  class="fixed inset-0 z-50 flex justify-center items-center bg-gray-800 bg-opacity-75"
>
  <div class="relative p-4 w-full max-w-md">
    <div class="bg-white rounded-lg shadow-lg dark:bg-gray-700">
      <!-- Modal content -->
      <div class="p-5">
        <h3
          class="text-lg font-semibold text-gray-900 dark:text-white text-center mb-4"
        >
          Book Room
        </h3>

        <!-- Date Range Picker -->
        <div id="date-range-picker" class="flex items-center">
          <div class="relative">
            <input
              id="datepicker-range-start"
              name="start"
              type="date"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              [(ngModel)]="checInDateString"
              (ngModelChange)="onChangecheckInDate()"
              placeholder="Select date start"
            />
          </div>
          <span class="mx-4 text-gray-500">to</span>
          <div class="relative">
            <input
              id="datepicker-range-end"
              name="end"
              type="date"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              [(ngModel)]="checOutDateString"
              (ngModelChange)="onChangecheckOutDate()"
              placeholder="Select date end"
            />
          </div>
        </div>

        <!-- Confirm Buttons -->
        <div class="flex justify-center mt-6">
          <button
            (click)="confirmBooking()"
            class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700"
          >
            Confirm Booking
          </button>
          <button
            (click)="closeModal()"
            class="ml-4 px-4 py-2 bg-gray-600 text-white rounded-lg hover:bg-gray-700"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
<div class="relative items-center justify-center min-h-screen">
  <div class="p-6 bg-white shadow-lg rounded-lg">
    <nav aria-label="Page navigation example" class="flex justify-center">
      <ul class="inline-flex -space-x-px text-sm">
        <li>
          <a
            class="flex items-center justify-center px-4 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            (click)="pageIndexChange(currentPage - 1)"
            [class.disabled]="currentPage === 1"
            [class.cursor-not-allowed]="currentPage === 1"
          >
            Previous
          </a>
        </li>

        <li *ngFor="let page of [].constructor(totalPage); let i = index">
          <a
            class="flex items-center justify-center px-4 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            (click)="pageIndexChange(i + 1)"
            [class.bg-gray-200]="currentPage === i + 1"
            [class.text-gray-700]="currentPage === i + 1"
          >
            {{ i + 1 }}
          </a>
        </li>

        <li>
          <a
            class="flex items-center justify-center px-4 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            (click)="pageIndexChange(currentPage + 1)"
            [class.disabled]="currentPage === totalPage"
            [class.cursor-not-allowed]="currentPage === totalPage"
          >
            Next
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
